<div class="chat">
    <header>
        <motd message="channel.topic" author="channel.topicauthor" date="channel.topicdate"></motd>
        <div class="icons">
            <a ng-click="showSettings=true" title="Settings">
                <i class="icon-cog icon-large"></i>
            </a>
        </div>
        <tabs></tabs>
    </header>
    <main>
        <userlist users="channel.users" channel="channel"></userlist>
        <lines lines="channel.lines" channel="channel"></lines>
        <form ng-submit="process(input, channel)">
            <input type="text" class="chat-input" ng-model="input.text" />
        </form>
    </main>
    <div class="modal modal-settings" modal="showSettings"
        ng-init="showSettings=false">
        <div ng-include="'views/settings.html'"></div>
    </div>
</div>
