<div class="login">
    <div class="title">
		<h1>Coldstorm</h1>
	</div>
	
	<label for="username">
	    Username
    </label>
	
	<input id="username" type="text" ng-model="user.nickName" />
	
	<label for="password">
	    Password
    </label>
	
	<input id="password" type="password" ng-model="user.password" />
	
	<label for="color">
	    Color
    </label>
	
	<script type="text/javascript" src="jscolor/jscolor.js"></script>
	
	<input id="color" type="color" ng-model="user.color" />
	
	<button ng-click="login()">Login</button>
</div>
