<form class="login" name="loginForm" ng-submit="login()">
    <div class="title">
        <h1>Coldstorm</h1>
    </div>

    <label for="username">
        Username
    </label>

    <input id="username" type="text" ng-model="user.nickName" required />

    <label for="password">
        Password
    </label>

    <input id="password" type="password" ng-model="user.password" />

    <label for="color">
        Color
    </label>

    <input colorpicker="hex" class="span2" value="" type="text" ng-model="user.color" />

    <button type="submit">Login</button>

    <div class="preview" style="color:{{ user.color }}">
        <span class="time">[11:11]</span>
        <span style="color:{{ user.color }}">
            {{ user.nickName }}
        </span>
        <span class="message">I love this color!</span>
    </div>
</form>

<footer>
    <div class="version">Coldstorm {{ meta.version }}</div>
</div>
