<div id="login">
    <div id="title" >
		<h1>Coldstorm</h1>
	</div>
	
	<div id="username" >
		<h2>Username</h2>
	</div>
	
	<div id="loginfield" class="inner"><input class="small" type="text" size="26" ng-model="user.username" /></div>
	
	<div id="pass">
		<h2>Password</h2>
	</div>
	
	<div id="loginpassfield" class="inner"><input class="small" type="password" size="26" ng-model="user.password" /></div>
	
	<div id="color">
		<h2>Color</h2>
	</div>
	
	<script type="text/javascript" src="jscolor/jscolor.js"></script>
	
	<div id="logincolorfield" class="inner"><input id="lagcolor" class="color" style="	left: 0px;	top: 0px;	right:0px;	bottom: 0px;"  /></div>
	
	<div id="loginbutton"><button ng-click="login()">Login</button></div>
</div>
