<div class="toolbar">
    <a ng-show="tab.name" ng-click="clearLines(tab)" title="Clear Lines">
        <i class="icon-ban-circle icon-large"></i>
    </a>

    <a ng-show="tab.name" ng-click="rejoin(tab)" title="Rejoin Channel">
        <i class="icon-refresh icon-large"></i>
    </a>

    <a ng-click="setAway()" title="Mark Away/Back">
        <span ng-class="{ 'icon-stack':user.awayMsg }">
            <i class="icon-coffee icon-large"></i>
            <i ng-show="user.awayMsg" class="icon-ban-circle icon-stack-base red"></i>
        </span>
    </a>

    <a ng-click="showSettings=true" title="Settings">
        <i class="icon-cog icon-large"></i>
    </a>

    <div class="modal modal-settings" modal="showSettings"
         ng-init="showSettings=false">
        <div ng-include="'views/settings.html'"></div>
    </div>
</div>