<form class="login" name="loginForm" ng-submit="login(); requestNotifications();">
    <div class="title">
        <h1>Coldstorm</h1>
    </div>

    <div ng-show="connecting" class="notice info">
        Connecting to the server...
        <i class="icon-spin icon-refresh"></i>
    </div>

    <div ng-show="error" class="notice error">
        {{ error }}
        <i class="icon-exclamation"></i>
    </div>

    <label for="username">
        Username
    </label>

    <input id="username" type="text" ng-model="user.nickName" required />

    <label for="password">
        Password
    </label>

    <input id="password" type="password" ng-model="user.password" />

    <label for="color">
        Color
    </label>

    <input colorpicker="hex" class="span2" value="" type="text" ng-model="user.color" />

    <button type="submit" ng-disabled="connecting">Login</button>

    <div class="preview" style="color:{{ user.color }}">
        <span class="time">[11:11]</span>
        <span style="color:{{ user.color }}">
            {{ user.nickName }}
        </span>
        <span class="message">I love this color!</span>
    </div>

    <div class="modal modal-settings" modal="showNews"
        ng-init="showNews=false">
        <div ng-include="'views/news.html'"></div>
    </div>
</form>

<footer>
    <div>
        Issues logging in? <a href="http://frigidstorm.com/"><span class="news">Use an older version</span></a>
    </div>
    <span class="version">Coldstorm {{ meta.shortHash }}</span>
    <span>|</span>
    <a target="_blank" href="https://github.com/coldstorm/coldstorm">Contribute</a>
    <div>
        <a href="http://www.geoplugin.com/geolocation/" target="_new">IP Geolocation</a> by <a href="http://www.geoplugin.com/" target="_new">geoPlugin</a>
    </div>
    <div>
        <span ng-click="showNews=true" class="news">What's new?</span>
    </div>
    
</div>
